{{- if .Site.IsServer -}} {{ "<!-- layouts: partial/header.html-->" | safeHTML }} {{- end -}}

  <!-- Slider Start -->
  <section class="slider">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <span class="h6 d-inline-block mb-4 subhead text-uppercase">{{ .Params.header_title }}</span>
          <h1 class="text-uppercase text-white mb-5">{{ .Params.header_heading }}<span class="text-color">{{ .Params.header_title_name }}</span><br>{{ .Params.header_title_name2 }}</h1>

          <a href="/membership/" target="_blank" class="btn btn-main ">{{ .Params.header_join_us }}<i class="ti-angle-right ml-3"></i></a>
        </div>
      </div>
    </div>
  </section>
  <!-- Section Slider End -->

{{- if .Site.IsServer -}} {{ "<!-- layouts: partial/header.html-->" | safeHTML }} {{- end -}}