 <!-- Section Testimonial Start -->
 <section class="section textimonial position-relative bg-3">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <div class="row justify-content-center">
          <div class="col-lg-12 text-center">
            <div class="section-title">
              <div class="divider mb-3"></div>
              <h2 class="text-white">What People say</h2>
            </div>
          </div>
        </div>

        <div class="testimonial-slider slick-initialized slick-slider slick-dotted">
          <div class="slick-list draggable">
            <div class="slick-track" style="opacity: 1; width: 6570px; transform: translate3d(-2190px, 0px, 0px);">
              <div class="text-center mb-4 slick-slide slick-cloned" data-slick-index="-1" aria-hidden="true"
                style="width: 730px;" tabindex="-1">
                <i class="ti-quote-left text-lg text-color"></i>
                <h3 class="mt-4 text-white letter-spacing">Shape your body and healthy!</h3>
                <p class="my-4 text-white-50">Laboriosam molestias aperiam sit corporis sunt, hic veritatis possimus
                  optio reprehenderit, laudantium excepturi, consequatur. Assumenda hic error veniam exercitationem
                </p>
                <div>
                  <h4 class="mb-0 text-capitalize text-white font-weight-normal">Hiker jons</h4>
                  <span class="text-white-50">Manager</span>
                </div>
              </div>
              <div class="text-center mb-4 slick-slide" data-slick-index="0" aria-hidden="true"
                style="width: 730px;" tabindex="-1" role="tabpanel" id="slick-slide00"
                aria-describedby="slick-slide-control00">
                <i class="ti-quote-left text-lg text-color"></i>
                <h3 class="mt-4 text-white letter-spacing">A great Start to a healthy life</h3>
                <p class="my-4 text-white-50">Laboriosam molestias aperiam sit corporis sunt, hic veritatis possimus
                  optio reprehenderit, laudantium excepturi, consequatur. Assumenda hic error veniam exercitationem
                </p>

                <div>
                  <h4 class="mb-0 text-capitalize text-white font-weight-normal">John Donas</h4>
                  <span class="text-white-50">Manager</span>
                </div>
              </div>
              <div class="text-center mb-4 slick-slide" data-slick-index="1" aria-hidden="true"
                style="width: 730px;" tabindex="-1" role="tabpanel" id="slick-slide01"
                aria-describedby="slick-slide-control01">
                <i class="ti-quote-left text-lg text-color"></i>
                <h3 class="mt-4 text-white letter-spacing">The workout worth attending!</h3>
                <p class="my-4 text-white-50">Laboriosam molestias aperiam sit corporis sunt, hic veritatis possimus
                  optio reprehenderit, laudantium excepturi, consequatur. Assumenda hic error veniam exercitationem
                </p>
                <div>
                  <h4 class="mb-0 text-capitalize text-white font-weight-normal">Donas Jack</h4>
                  <span class="text-white-50">Manager</span>
                </div>
              </div>
              <div class="text-center mb-4 slick-slide slick-current slick-active" data-slick-index="2"
                aria-hidden="false" style="width: 730px;" tabindex="0" role="tabpanel" id="slick-slide02"
                aria-describedby="slick-slide-control02">
                <i class="ti-quote-left text-lg text-color"></i>
                <h3 class="mt-4 text-white letter-spacing">Very Professional Club and coaches</h3>
                <p class="my-4 text-white-50">Laboriosam molestias aperiam sit corporis sunt, hic veritatis possimus
                  optio reprehenderit, laudantium excepturi, consequatur. Assumenda hic error veniam exercitationem
                </p>
                <div>
                  <h4 class="mb-0 text-capitalize text-white font-weight-normal">Mikel Hussy</h4>
                  <span class="text-white-50">Manager</span>
                </div>
              </div>
              <div class="text-center mb-4 slick-slide" data-slick-index="3" aria-hidden="true"
                style="width: 730px;" tabindex="-1" role="tabpanel" id="slick-slide03"
                aria-describedby="slick-slide-control03">
                <i class="ti-quote-left text-lg text-color"></i>
                <h3 class="mt-4 text-white letter-spacing">Shape your body and healthy!</h3>
                <p class="my-4 text-white-50">Laboriosam molestias aperiam sit corporis sunt, hic veritatis possimus
                  optio reprehenderit, laudantium excepturi, consequatur. Assumenda hic error veniam exercitationem
                </p>
                <div>
                  <h4 class="mb-0 text-capitalize text-white font-weight-normal">Hiker jons</h4>
                  <span class="text-white-50">Manager</span>
                </div>
              </div>
              <div class="text-center mb-4 slick-slide slick-cloned" data-slick-index="4" aria-hidden="true"
                style="width: 730px;" tabindex="-1">
                <i class="ti-quote-left text-lg text-color"></i>
                <h3 class="mt-4 text-white letter-spacing">A great Start to a healthy life</h3>
                <p class="my-4 text-white-50">Laboriosam molestias aperiam sit corporis sunt, hic veritatis possimus
                  optio reprehenderit, laudantium excepturi, consequatur. Assumenda hic error veniam exercitationem
                </p>

                <div>
                  <h4 class="mb-0 text-capitalize text-white font-weight-normal">John Donas</h4>
                  <span class="text-white-50">Manager</span>
                </div>
              </div>
              <div class="text-center mb-4 slick-slide slick-cloned" data-slick-index="5" aria-hidden="true"
                style="width: 730px;" tabindex="-1">
                <i class="ti-quote-left text-lg text-color"></i>
                <h3 class="mt-4 text-white letter-spacing">The workout worth attending!</h3>
                <p class="my-4 text-white-50">Laboriosam molestias aperiam sit corporis sunt, hic veritatis possimus
                  optio reprehenderit, laudantium excepturi, consequatur. Assumenda hic error veniam exercitationem
                </p>
                <div>
                  <h4 class="mb-0 text-capitalize text-white font-weight-normal">Donas Jack</h4>
                  <span class="text-white-50">Manager</span>
                </div>
              </div>
              <div class="text-center mb-4 slick-slide slick-cloned" data-slick-index="6" aria-hidden="true"
                style="width: 730px;" tabindex="-1">
                <i class="ti-quote-left text-lg text-color"></i>
                <h3 class="mt-4 text-white letter-spacing">Very Professional Club and coaches</h3>
                <p class="my-4 text-white-50">Laboriosam molestias aperiam sit corporis sunt, hic veritatis possimus
                  optio reprehenderit, laudantium excepturi, consequatur. Assumenda hic error veniam exercitationem
                </p>
                <div>
                  <h4 class="mb-0 text-capitalize text-white font-weight-normal">Mikel Hussy</h4>
                  <span class="text-white-50">Manager</span>
                </div>
              </div>
              <div class="text-center mb-4 slick-slide slick-cloned" data-slick-index="7" aria-hidden="true"
                style="width: 730px;" tabindex="-1">
                <i class="ti-quote-left text-lg text-color"></i>
                <h3 class="mt-4 text-white letter-spacing">Shape your body and healthy!</h3>
                <p class="my-4 text-white-50">Laboriosam molestias aperiam sit corporis sunt, hic veritatis possimus
                  optio reprehenderit, laudantium excepturi, consequatur. Assumenda hic error veniam exercitationem
                </p>
                <div>
                  <h4 class="mb-0 text-capitalize text-white font-weight-normal">Hiker jons</h4>
                  <span class="text-white-50">Manager</span>
                </div>
              </div>
            </div>
          </div>
          <ul class="slick-dots" style="" role="tablist">
            <li class="" role="presentation"><button type="button" role="tab" id="slick-slide-control00"
                aria-controls="slick-slide00" aria-label="1 of 4" tabindex="-1">1</button></li>
            <li role="presentation" class=""><button type="button" role="tab" id="slick-slide-control01"
                aria-controls="slick-slide01" aria-label="2 of 4" tabindex="-1">2</button></li>
            <li role="presentation" class="slick-active"><button type="button" role="tab" id="slick-slide-control02"
                aria-controls="slick-slide02" aria-label="3 of 4" tabindex="0" aria-selected="true">3</button></li>
            <li role="presentation"><button type="button" role="tab" id="slick-slide-control03"
                aria-controls="slick-slide03" aria-label="4 of 4" tabindex="-1">4</button></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Section Testimonial END -->